OPENAI_API_KEY=your-api-key-here
DJANGO_SECRET_KEY=your-django-secret-key
DATABASE_NAME=markeddb1
DATABASE_HOST=db
DATABASE_USER=root
DATABASE_PASSWORD=new_password 
MINIO_ROOT_USER=marked
MINIO_ROOT_PASSWORD=markedatleast8characters