# Whenever these are updated, update the .env.prod.example file and the ones on the server!

# Database
MYSQL_ROOT_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=db  # This references the docker service name
DATABASE_USER=
DATABASE_PASSWORD=

DJANGO_SECRET_KEY=
OPENAI_API_KEY=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

DJANGO_ENV=production
ALLOWED_HOSTS=marked.tomasmaillo.com