*.DS_Store
.env
.env.local
.env.*.local
.env.prod
.env.*.prod
# General
*.log
*.pdf  # !!! Many submissions are pdfs !!!
*.png  # !! and profile images !!

# IDE
.idea/ # PyCharm settings
.vscode/ # VSCode settings

# Python
*.pyc
env/
venv/
.venv/

# Databases
*.sqlite3
*.sql

# JavaScript
node_modules/
build/ # Webpack build output

.vscode/


*.json
*.csv
*.xlsx
*.xls
*.doc
*.docx
*.ppt